<div class="recipe-preview">
    {% for post in site.posts limit:5 %}
    {% if post.layout == "recipe" %}
    <div class="title">
        <h1>
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
        </h1>
        <p>
            {{ post.date | date: "%-d %B %Y" }}
        </p>
    </div>
    {% if post.preview_image != nil %}
    <img src="/assets/images/{{ post.preview_image }}" alt="Preview of {{ post.title }}">
    {% endif %}
    <p>
        {{ post.excerpt }}
    </p>
    <a class="button" href="{{ post.url }}">Read More</a>
    {% if forloop.index != site.posts.size - 1 %}
    <hr class="solid">
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if site.posts.size == 0 %}
    <div>You don't have any recipes! Add one first!</div>
    {% endif %}
</div>