// Fonts
$font-family: 'Source Sans 3', sans-serif;
$font-size: 16px;

// Borders
$rounding: 10px;

// Colors
$color-background: #C0D6DF;
$color-white: #FAFAFA;
$color-text-primary: #0A2342;
$color-text-subtitle: #25456D;