footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 18rem;
    background-color: $color-text-primary;
    color: $color-white;

    div {
        width: 40%;

        p {
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
    }

    a {
        color: $color-white;
    }

    li {
        color: $color-white;
    }
}