@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;700&display=swap');
@import "constants";
@import "footer";
@import "navigation";
@import "recipe_preview";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    background-color: $color-background;
    color: $color-text-primary;
}

a {
    text-decoration: none;
    color: $color-text-primary;
}

p:not(:last-child) {
    margin-bottom: 0.8rem;
}


.container {
    margin: 2rem 20rem;
}