nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 60px;
    width: 100%;
    row-gap: 0.5rem;
    background-color: $color-white;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 2.4rem;
    }

    div {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        justify-content: center;

        a {
            color: $color-text-subtitle;
            text-transform: uppercase;
        }
    }
}