.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    height: fit-content;
    width: fit-content;
    background-color: $color-white;
    padding: 30px 30px;
    border-radius: $rounded;

    img {
        width: 200px;
        max-height: 200px;
        object-fit: cover;
        border-radius: 999px;
        margin-bottom: 1rem;
    }

    .author {
        text-transform: uppercase;
        margin-bottom: 0;
        font-weight: 600;
        font-size: $font-size;
    }

    .summary {
        width: 80%;
        text-align: center;
        font-size: calc($font-size - 2px);
    }
}